*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
  .PApadding{
  background-color: goldenrod;
  color: whitesmoke;
  font-size: 30px;
  padding: 50px;
  text-align: center;
}
